/* body */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* header */
header{
    background-color: #396039;
    box-shadow: 0 5px 5px #000;
}

header h1{
    margin: 0;
    padding: 20px 10%;
    color: white;
}

/* links */
.links ul{
    padding: 0;
    margin: 20px;
    text-align: center;
}

.links ul li{
    margin: 0 1% 0 1%;
    display: inline;
    color: white;
}

.links ul li a{
    padding: 10px 5%;
    text-decoration: none;
    color: white;
    background-color: #4d804d;
    box-shadow: 0 5px 5px #000;
}

.links ul li a:hover{
    background-color: #609f60;
}

/* left column */
.left_col{
    width: 200px;
    float: left;
    padding: 10px;
    margin: 0 20px 0 20px;
    color: white;
    background-color: #4d804d;
    box-shadow: 0 5px 5px #000;
}

/* content */
.content{
    margin: 40px 260px 40px 260px;
}

/* right column */
.right_col{
    position: absolute;
    width: 200px;
    top: 135px;
    right: 0px;
    float: right;
    margin: 0 20px 0 20px;
    padding: 10px;
    color: white;
    background-color: #4d804d;
    box-shadow: 0 5px 5px #000;
}

/* footer */
footer{
    padding: 20px 10%;
    margin-top: 20px;
    color: white;
    background-color: #396039;
    box-shadow: 0 -5px 5px #000
}

/* screen < 800px */
@media screen and (max-width: 800px){
    /* content */
    .content{
        margin: 40px 20px 40px 260px;
    }

    /* right column */
    .right_col{
        margin: 40px 20px 40px 20px;
        position: static;
        width: auto;
        float: none;
    }
}

/* screen < 600px */
@media screen and (max-width: 600px){
    /* left column */
    .left_col{
        margin: 40px 20px 40px 20px;
        width: auto;
        float: none;
    }

    /* content */
    .content{
        margin: 40px 20px 40px 20px;
    }

}
