/* body */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* header */
header{
    background-color: #008066;
    box-shadow: 0 5px 5px #000;
}

header h1{
    margin: 0;
    padding: 20px 10%;
    color: white;
}

/* links */
.links ul{
    margin: 10px;
    text-align: center;
}

.links ul li{
    padding: 10px 5%;
    margin: 0 1% 0 1%;
    display: inline;
    color: white;
    background-color: #00997a;
    box-shadow: 0 5px 5px #000;
}

/* left column */
.left_col{
    width: 200px;
    float: left;
    padding: 10px;
    margin: 0 20px 0 20px;
    color: white;
    background-color: #00b38f;
    box-shadow: 0 5px 5px #000;
}

/* content */
.content{
    margin: 40px 260px 40px 260px;
}

/* right column */
.right_col{
    position: absolute;
    width: 200px;
    top: 120px;
    right: 0px;
    float: right;
    margin: 0 20px 0 20px;
    padding: 10px;
    color: white;
    background-color: #00b38f;
    box-shadow: 0 5px 5px #000;
}

/* footer */
footer{
    padding: 20px 10%;
    color: white;
    background-color: #008066;
    box-shadow: 0 -5px 5px #000
}
