<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>title</title>
    </head>
    <body>
        <header>
            <h1>h1 header</h1>
        </header>

        <div class="links">
            <ul>
                <li>link 1</li>
                <li>link 2</li>
                <li>link 3</li>
            </ul>
        </div>

        <div class="content">
            <h2>h2 header</h2>
            <p>p under h2 header</p>
        </div>
        <div class="content">
            <h2>h2 header</h2>
            <p>p under h2 header</p>
        </div>
        <div class="content">
            <h2>h2 header</h2>
            <p>p under h2 header</p>
        </div>

        <footer>
            <h4>h4 footer</h4>
        </footer>
    </body>
</html>
