<!DOCTYPE html>
<html lang="en">
    <head>
        <title>title</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
        <header>
            <h1>h1 header</h1>
        </header>

        <div class="links">
            <ul>
                <li><a href="">link 1</a></li>
                <li><a href="">link 2</a></li>
                <li><a href="">link 3</a></li>
            </ul>
        </div>

        <div class="left_col">
            <h3>h3 header left</h3>
            <p>p under h3 header left</p>
        </div>

        <div class="content">
            <h2>h2 header</h2>
            <p>p under h2 header</p>
        </div>
        <div class="content">
            <h2>h2 header</h2>
            <p>p under h2 header</p>
        </div>
        <div class="content">
            <h2>h2 header</h2>
            <p>p under h2 header</p>
        </div>

        <div class="right_col">
            <h3>h3 header right</h3>
            <p>p under h3 header right</p>
        </div>

        <footer>
            <h3>h3 footer</h3>
        </footer>
    </body>
</html>
